{% extends "layout.html" %}

{% block content %}
<script src="../static/js/jquery.min.js" type="text/javascript" charset='utf-8'></script>
<script src="../static/js/echarts.js" charset='utf-8'></script>
<script src="../static/js/echarts-wordcloud.min.js" type="text/javascript" charset='utf-8'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>

<script type="text/javascript">
    // 初始化界面
    $(function () {

        $('#li_1').attr('class', '');
        $('#li_2').attr('class', '');
        $('#li_3').attr('class', 'active');

        // 判断是否登录
        $.get('http://127.0.0.1:5000/check_login', {},
            function (data) {
                console.log(data);
                if (data['login'] === false) {
                    window.location.href = '/'
                }
                else {
                    $('#show_login_reg').hide();
                    $('#index_img').css('height', '95%');
                }
            }
        );

        $('#myTab').find("li").each(function () {
            $(this).click(function () {
                const key = $(this).text();
                console.log(key);

                $.get('http://127.0.0.1:5000/news_words_analysis/' + key, {},
                    function (data) {
                        echartsCloud();//初始化echarts图

                        function echartsCloud() {
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('main1'));

                            myChart.setOption({
                                title: {
                                    left: 'center',
                                    text: key + '版块关键词词云',
                                },
                                tooltip: {},
                                series: [{
                                    type: 'wordCloud',  //类型为字符云
                                    shape: 'smooth',  //平滑 椭圆:ellipse 圆形:circle
                                    gridSize: 4,    //网格尺寸
                                    size: ['100%', '100%'],
                                    sizeRange: [25, 100],
                                    rotationRange: [0, 45], //旋转范围
                                    textStyle: {
                                        normal: {
                                            fontFamily: 'sans-serif',
                                            color: function () {
                                                return 'rgb('
                                                    + [Math.round(Math.random() * 160),
                                                        Math.round(Math.random() * 160),
                                                        Math.round(Math.random() * 160)
                                                    ].join(',') + ')';
                                            }
                                        },
                                        emphasis: {
                                            shadowBlur: 5,       //阴影距离
                                            shadowColor: '#333'  //阴影颜色
                                        }
                                    },
                                    data: data['词云数据'],
                                }]
                            });
                            $(window).resize(function () {
                                myChart.resize();
                            });
                        }

                        // 基于准备好的dom，初始化echarts实例
                        var dom = document.getElementById("main2");
                        var myChart = echarts.init(dom);

                        var series_data = [];
                        for (var i = 0; i < data['词群'].length; i++) {
                            series_data.push({value: data['词群个数'][i], name: data['词群'][i]})
                        }
                        console.log(series_data);

                        var option = {
                            backgroundColor: '#F9F9F9',
                            title: {
                                left: 'center',
                                text: key + '版块 Top10 关键词词群',
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: '{a} <br/>{b} : {c} ({d}%)'
                            },
                            series: [
                                {
                                    name: '新闻数',
                                    type: 'pie',
                                    radius: '75%',
                                    center: ['50%', '50%'],
                                    data: series_data,
                                    emphasis: {
                                        itemStyle: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }
                            ]
                        };

                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }

                        // 基于准备好的dom，初始化echarts实例
                        var dom = document.getElementById("main3");
                        var myChart = echarts.init(dom);

                        var salary = [];
                        for (var i = 0; i < data['词群个数'].length; i++)
                            salary.push(data['词群个数'][i].toFixed(2))

                        option = {
                            backgroundColor: '#F9F9F9',
                            title: {
                                left: 'center',
                                text: key + '版块 Top10 关键词词群',
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow'
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '12%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis: {
                                name: '新闻次数',
                                type: 'value',
                                boundaryGap: [0, 0.01]
                            },
                            yAxis: {
                                type: 'category',
                                data: data['词群'],
                                axisLabel: {
                                    interval: 0
                                }
                            },
                            series: [
                                {
                                    type: 'bar',
                                    itemStyle: {
                                        color: '#19CAAD'
                                    },
                                    data: salary
                                }
                            ]
                        };

                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }

                        $('#hot_words').text(data['词群'].join('、'));

                        var dom = document.getElementById("main4");
                        var myChart = echarts.init(dom);
                        var app = {};
                        option = null;
                        var girth = data['click_counts'];
                        var bins = ecStat.histogram(girth, 'scott');

                        var interval;
                        var min = Infinity;
                        var max = -Infinity;

                        var bins_data = echarts.util.map(bins.data, function (item, index) {
                            var x0 = bins.bins[index].x0;
                            var x1 = bins.bins[index].x1;
                            interval = x1 - x0;
                            min = Math.min(min, x0);
                            max = Math.max(max, x1);
                            return [x0, x1, item[1]];
                        });

                        function renderItem(params, api) {
                            var yValue = api.value(2);
                            var start = api.coord([api.value(0), yValue]);
                            var size = api.size([api.value(1) - api.value(0), yValue]);
                            var style = api.style();

                            return {
                                type: 'rect',
                                shape: {
                                    x: start[0] + 1,
                                    y: start[1],
                                    width: size[0] - 2,
                                    height: size[1]
                                },
                                style: style
                            };
                        }

                        option = {
                            title: {
                                text: key + '版块关注热度分布直方图（关注次数最大值' + data['max_click_count'] + '，最小值' + data['min_click_count'] + '）',
                                left: 'center',
                                top: 10
                            },
                            color: ['rgb(25, 183, 207)'],
                            grid: {
                                top: 80,
                                containLabel: true
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow'
                                }
                            },
                            xAxis: [{
                                type: 'value',
                                min: min,
                                max: max,
                                interval: interval
                            }],
                            yAxis: [{
                                type: 'value',
                            }],
                            series: [{
                                name: '新闻个数',
                                type: 'custom',
                                renderItem: renderItem,
                                label: {
                                    show: true,
                                    position: 'insideTop'
                                },
                                encode: {
                                    x: [0, 1],
                                    y: 2,
                                    tooltip: 2,
                                    label: 2
                                },
                                data: bins_data
                            }]
                        };
                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }
                    }
                );
            })
        });

        $('#first').click();
    });
</script>

<div class="container">
    <!--右边展示-->
    <div class="row">
        <h3 class="page-header">新闻版块热点词分析</h3>
        <ul id="myTab" class="nav nav-tabs" style="font-size: 20px;">
            <li class="active" id="first"><a id="新闻" data-toggle="tab"><b>新闻</b></a></li>
            <li><a id="娱乐" data-toggle="tab"><b>娱乐</b></a></li>
            <li><a id="体育" data-toggle="tab"><b>体育</b></a></li>
            <li><a id="财经" data-toggle="tab"><b>财经</b></a></li>
            <li><a id="科技" data-toggle="tab"><b>科技</b></a></li>
            <li><a id="汽车" data-toggle="tab"><b>汽车</b></a></li>
            <li><a id="房产" data-toggle="tab"><b>房产</b></a></li>
            <li><a id="游戏" data-toggle="tab"><b>游戏</b></a></li>
            <li><a id="旅游" data-toggle="tab"><b>旅游</b></a></li>
            <li><a id="教育" data-toggle="tab"><b>教育</b></a></li>
        </ul>
    </div>
    <div class="placeholder" style="height:400px; width: 1500px; margin-left: -200px; margin-top: 40px;" id="main1"></div>

    <h3 class="page-header">用户关注热度分析</h3>
    <div class="col-xs-12 placeholder" style="height:300px; margin-top: 1px;" id="main4"></div>

    <h3>话题词频统计与词群：<span style="color: red" id="hot_words">测试</span></h3>
    <div class="container" style="margin-top: 40px;">
        <div class="row placeholders">
            <div class="col-xs-6 placeholder" style="height:300px;" id="main2"></div>
            <div class="col-xs-6 placeholder" style="height:300px;" id="main3"></div>
        </div>
    </div>

</div>

{% endblock %}
